In [25]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import re

In [41]:
home_url = "https://www.playmakerstats.com/edition_stats.php?id_edicao=166088&id_equipa=0&v=jt14&o=pinf&pos=0&pais=0&v1=j&v2=t&v3=14&page="

In [42]:

ths = ['', 'Player', 'M', 'G', 'ASS', 'DIN', 'PDIN']

In [43]:
data=[]

index=1
for tr in table.tbody.findAll('tr'):
    tr_data=[]
    for td in tr.findAll('td'):
        tr_data.append(td.text)
    data.append(tr_data)
    

data[:3]

[['1', '\xa0\xa0Paul Mullin [Wrexham]', '46', '38', '10', '48', '41'],
 ['1',
  '\xa0\xa0Macaulay Langstaff [Notts County]',
  '47',
  '42',
  '8',
  '50',
  '41'],
 ['3',
  '\xa0\xa0Andrew Dallas [Chesterfield, Solihull Moors]',
  '48',
  '20',
  '12',
  '32',
  '40']]

In [48]:
data = []
home_url = "https://www.playmakerstats.com/edition_stats.php?id_edicao=166088&id_equipa=0&v=jt14&o=pinf&pos=0&pais=0&v1=j&v2=t&v3=14&page="

def get_nl_data(home_url, max_pages=6):
    page = 0

    while page < max_pages:
        url = home_url + str(page)
        print(url)
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        table = soup.find('table', class_='zztable stats')

        for tr in table.tbody.findAll('tr'):
            tr_data = []
            for td in tr.findAll('td'):
                tr_data.append(td.text)
            data.append(tr_data)

        page += 1

get_nl_data(home_url)
print(len(data))

https://www.playmakerstats.com/edition_stats.php?id_edicao=166088&id_equipa=0&v=jt14&o=pinf&pos=0&pais=0&v1=j&v2=t&v3=14&page=0

AttributeError: 'NoneType' object has no attribute 'tbody'

In [47]:
data=[]

def get_nl_data(home_url,page=0):

    url = home_url+str(page)
    print(url)
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    table = soup.find('table', class_='zztable stats')

    print(table.tbody)

    for tr in table.tbody.findAll('tr'):
        tr_data=[]
        for td in tr.findAll('td'):
            tr_data.append(td.text)
        data.append(tr_data)

    page+=1
    if(page<20):
        get_nl_data(home_url,page=page)

    else:
        return data

        
data = get_nl_data(home_url)
len(data)

https://www.playmakerstats.com/edition_stats.php?id_edicao=166088&id_equipa=0&v=jt14&o=pinf&pos=0&pais=0&v1=j&v2=t&v3=14&page=0

AttributeError: 'NoneType' object has no attribute 'tbody'

In [29]:
# Define column names
column_names = ths

# Create DataFrame
nl_df = pd.DataFrame(data, columns=column_names)

# Drop the first column
nl_df.drop(columns=df.columns[0], inplace=True)
# Print the DataFrame
nl_df.head()

                                           Player   M   G ASS DIN PDIN
0                           Paul Mullin [Wrexham]  46  38  10  48   41
1               Macaulay Langstaff [Notts County]  47  42   8  50   41
2    Andrew Dallas [Chesterfield, Solihull Moors]  48  20  12  32   40
3                  Mani Dieseruvwe [Halifax Town]  42  13   5  18   37
4                   Lenell John-Lewis [York City]  41  14   5  19   35

In [30]:
def clean_player(df):
    # Split the "Player" column into "Player" and "Club" columns
    df[['Player', 'Club']] = df['Player'].str.split('[', 1, expand=True)
    df['Club'] = df['Club'].str.replace(']', '')

    # Strip leading/trailing whitespaces
    df['Player'] = df['Player'].str.strip()
    df['Club'] = df['Club'].str.strip()

    return df

nl_df = clean_player(nl_df)
nl_df.head()

C:\Users\adity\AppData\Local\Temp\ipykernel_7288\3358147561.py:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['Player', 'Club']] = df['Player'].str.split('[', 1, expand=True)
C:\Users\adity\AppData\Local\Temp\ipykernel_7288\3358147561.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Club'] = df['Club'].str.replace(']', '')

               Player   M   G ASS DIN PDIN                          Club
0         Paul Mullin  46  38  10  48   41                       Wrexham
1  Macaulay Langstaff  47  42   8  50   41                  Notts County
2       Andrew Dallas  48  20  12  32   40  Chesterfield, Solihull Moors
3     Mani Dieseruvwe  42  13   5  18   37                  Halifax Town
4   Lenell John-Lewis  41  14   5  19   35                     York City